.container {
  overflow-y: hidden;
  background: #152238;
  padding-top: 6rem;
}

.wrapper {
  padding: 80px 0px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}

.title {
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
  width: 27vw;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  padding: 5rem 10rem;
}

.logoPartner {
  width: 16rem;
  height: 10rem;
  object-fit: contain;
}

@media only screen and (max-width: 1260px) {
  .logoContainer {
    padding: 5rem 0;
  }
  .description {
    font-size: 1.2rem;
    font-weight: 300;
    width: 60vw;
    text-align: center;
  }
}
